
<div class="flex flex-column p-2">

  <h3>Buscador</h3>
  <mat-form-field>
    <mat-label>
      Buscador de héroes
    </mat-label>
    <input type="text"
      matInput
      [formControl] = "searchInput"
      (input)="searchHero()"
      [matAutocomplete]="auto"
    />

    <mat-autocomplete autoActiveFirstOption
      (optionSelected)="onSelectedOption($event)"
      #auto="matAutocomplete">
        <mat-option *ngFor="let hero of heroes" [value]="hero">
          {{ hero.superhero }}
        </mat-option>
        <mat-option
          *ngIf="heroes.length === 0 && searchInput.value && searchInput.value.length > 0"
          value=""
        >
          No se encontró nada con el término {{ searchInput.value }}
        </mat-option>
    </mat-autocomplete>

  </mat-form-field>
  <mat-card-content>

    <mat-list>
      <h1>{{ selectedHero?.superhero }}</h1>
      <h4>{{ selectedHero?.alter_ego }}</h4>
      <mat-divider class="mb-2" *ngIf="selectedHero"></mat-divider>
      <mat-card-subtitle *ngIf="selectedHero">Primera aparición</mat-card-subtitle>
      <mat-list-item>{{ selectedHero?.first_appearance }}</mat-list-item>
      <mat-card-subtitle *ngIf="selectedHero">Personajes</mat-card-subtitle>
      <mat-list-item>{{ selectedHero?.characters }}</mat-list-item>
      <mat-card-subtitle *ngIf="selectedHero">Creador</mat-card-subtitle>
      <mat-list-item>{{ selectedHero?.publisher }}</mat-list-item>
      <mat-card-subtitle *ngIf="selectedHero">Alter ego</mat-card-subtitle>
      <mat-list-item>{{ selectedHero?.alter_ego }}</mat-list-item>
      <button
       mat-flat-button
       color="primary"
       *ngIf="selectedHero"
       [routerLink]="['/heroes/edit', selectedHero.id]"
      >
      Ver
      </button>
    </mat-list>
  </mat-card-content>
</div>
